body {
    width: 300px;
}

.form-control, .input-group {
    width: 280px;
}

section {
    width: 280px;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

h2 {
    font-family: 'Lora', serif;
    width: 600px;
}

h6 {
    font-family: 'Lora', serif;
    font-size: 11pt;
    text-align: center;
}


label {
    padding-top: 10px;
}

#map {
    border-top: 2px #000 solid;
    position: absolute;
    top: 95px;
    bottom: 0;
    width: 100%;
    opacity: 0.5;
    margin: 0; 
}
